{% extends 'bootstrap/base.html' %}
{% block styles %}
{{super()}}
<link rel="stylesheet"
      href="{{url_for('static', filename='css/styles.css')}}">
{% endblock %}
{% block title %}Coffee and Wifi{% endblock %}

{% block content %}
<div class="jumbotron text-center">
    <div class="container">
  <h1 class="display-4">CAFFEINE CONNECTION ⚡️</h1>
  <p class="lead">Are you interested in working at a coffee shop but require access to power and wifi for your equipment?
</p>
  <hr class="my-4">
  <p>You have come to the appropriate location. Browse through my assortment of cafes that provide information on the availability of power sockets, the speed of wifi, and the quality of coffee.</p>
  <a class="btn btn-warning btn-lg" href="{{url_for('cafes')}}" role="button">View Collection</a>
</div>
    </div>

{% endblock %}
